//Users/chaekyeong/dev/xcodeProjects2025/Clean3/CleanArchitecture-ios/CleanArchitecture/Data/Network/Config/Release.xcconfig//
//  Release.xcconfig
//  CleanArchitecture
//
//  Created by Chaekyeong Lee on 3/9/25.
//

EHYUNDAI_BASE_URL = https:/$()/dev.ehyundai.com:18011
EHYUNDAI_APP_BASE_URL = https:/$()/hdeappdev.ehyundai.com:18911
HPOINT_BASE_URL = https:/$()/mdev.h-point.co.kr:29845
