//Users/chaekyeong/dev/xcodeProjects2025/Clean3/CleanArchitecture-ios/CleanArchitecture/Data/Network/Config/Release.xcconfig//
//  Release.xcconfig
//  CleanArchitecture
//
//  Created by Chaekyeong Lee on 3/9/25.
//

EHYUNDAI_BASE_URL = https:/$()/www.ehyundai.com
EHYUNDAI_APP_BASE_URL = https:/$()/hdeappstg.ehyundai.com
HPOINT_BASE_URL = https:/$()/m-stg.h-point.co.kr
